In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
os.chdir('C:\\Users\\U0033207PC\\Desktop\\LUAD FIREHOSE LEGACY DATABASE')

In [3]:
# Importing the dataset
dt = pd.read_excel('FLUX.xlsx')

In [4]:
dt.head(2)

,HUG0_SYMBOL,3DSPHR,3HBCOAHLm,ABTArm,ABTD,ACACT1r,ACACT1rm,ACACT1x,ACOAD9m,ACOAO7p,...,1513TACRitr,1531TACRitr,DEOXFVSitx,FVSitx,TACRitr,13DMTitr,15DMTitr,31DMTitr,Patient's Vital Status,Overall Survival (Months)
0,TCGA-05-4244-01,11.448262,154.187481,-583.764387,-14.237357,125.403072,235.338244,457.654536,74.716367,72.493260,...,14.770344,14.770344,-431.370763,431.370763,26.309675,-6.000452,-6.000452,-6.000452,1,0.00
1,TCGA-05-4249-01,9.173955,162.200877,-442.863722,-5.338254,128.134267,137.492687,149.939274,75.026103,56.620656,...,34.017476,34.017476,-219.803538,219.803538,60.593629,-13.819600,-13.819600,-13.819600,1,50.03

In [5]:
del dt['HUG0_SYMBOL']

In [6]:
dt.head(2)

,3DSPHR,3HBCOAHLm,ABTArm,ABTD,ACACT1r,ACACT1rm,ACACT1x,ACOAD9m,ACOAO7p,ACOATA,...,1513TACRitr,1531TACRitr,DEOXFVSitx,FVSitx,TACRitr,13DMTitr,15DMTitr,31DMTitr,Patient's Vital Status,Overall Survival (Months)
0,11.448262,154.187481,-583.764387,-14.237357,125.403072,235.338244,457.654536,74.716367,72.493260,-165.591744,...,14.770344,14.770344,-431.370763,431.370763,26.309675,-6.000452,-6.000452,-6.000452,1,0.00
1,9.173955,162.200877,-442.863722,-5.338254,128.134267,137.492687,149.939274,75.026103,56.620656,-73.252506,...,34.017476,34.017476,-219.803538,219.803538,60.593629,-13.819600,-13.819600,-13.819600,1,50.03

In [7]:
FLUX_CORRELATION = dt[dt.columns[:]].corr()['Overall Survival (Months)'][:]

In [8]:
FLUX_CORRELATION

3DSPHR                      -0.106824
3HBCOAHLm                    0.006174
ABTArm                       0.038161
ABTD                         0.033145
ACACT1r                     -0.004648
                               ...
13DMTitr                     0.099206
15DMTitr                     0.099206
31DMTitr                     0.099206
Patient's Vital Status       0.097668
Overall Survival (Months)    1.000000
Name: Overall Survival (Months), Length: 1963, dtype: float64

In [9]:
FLUX_CORRELATION.to_csv(r'C:\Users\U0033207PC\Desktop\GENE Enrichment\FLUX_CORRELATION.csv')